<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.eits.syncer">

    <!-- Sample Services
    <service android:permission="android.permission.BIND_JOB_SERVICE"
             android:name="br.com.eits.syncer.application.background.SyncBackgroundService">

        //optional: sync service with basic credentials
        <meta-data android:name="sync-basic-credentials"
            android:value="admin:pass"/>

        //mandatory: sync service urls
        <meta-data android:name="sync-urls"
            android:value='{"default":"http://host1.com", "service2":"http://host2.com"}'/>

        //optional encondig
        <meta-data android:name="encoding"
            android:value="gzip,deflate"/>
    </service>
    -->


</manifest>